@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Shadows+Into+Light&display=swap');




*,
*::after,
*::before{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
}
::-webkit-scrollbar-track {
    background: #0F3460;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background: #182747;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: #182747;
    border-radius: 30px;
}
a{
    text-decoration: none;
    color: white;
}

body{
    font-size: 0.85rem;
    margin: 0 auto;
    font-family: 'Anonymous Pro',monospace;
    background-color: #16213E;
    color: white;
}
.header{
    width: fit-content;
    margin: 100px auto;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.inner-container{
    padding: 75px 100px;
}
.row{
    display: flex;
    flex-direction: row;
}
.row + .row {
    margin-left:100px;
}
.boxes{
    width: 250px;
    height: 50px;
    background-color: #0F3460;
    border-radius: 10px;
    color: white;
    min-width: 225px;
}   
.row2{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.box-titles{
    padding-left: 10px;
    margin: auto 0;
    
}
.level-headings{
    text-decoration: underline;
}
.green{
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin: auto 20px;
}
.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row3 + .row3 {
    margin-left:100px;
}

.orange{
    width: 12px;
    height: 12px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    margin: auto 20px;
}
.red{
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: auto 20px;
}
.white{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: auto 20px;
}
.grey{
    width: 12px;
    height: 12px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin: auto 20px;
}
a + a{
    margin-left: 100px;
}
@media screen and (max-width:500px) 
{
    .row{
        flex-direction: column;
    }
    .row2{
        flex-direction: column;
    }
    .pcli{
        margin-top: 50px;
    }
    .row3 + .row3 {
        margin-top: 100px;
        margin-left: 0px;

    }
    .level-headings{
        margin-left: 20px;
    }
    .footer-key{
        margin-left: 20px;
    }
}
@media screen and (max-width:375px) 
{
    .row{
        flex-direction: column;
    }
    .row2{
        flex-direction: column;
    }
    .container{
        max-width: 370px;
    }
    .inner-container{
        padding: 0px;
    }
    .boxes{
        margin: 0 auto;
    }
    .pcli{
        margin-top: 50px;
    }
    .row3 + .row3 {
        margin: 0px auto;
        margin-top: 100px;
    }
    .level-headings{
        margin: 50px 0px;
        margin-left: 20px;
    }
    .footer-key{
        margin-left: 20px;
        margin-top: 50px;
    }
}
.col{
    display: flex;
    flex-direction: column;
}
